.flexbox{
  display: flex;
  justify-content: center;
}

.products {
  margin: 40px;
  width: 300px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  transition: background-color 0.5s;
}
.products:hover{
  font-size: 115%;
  cursor: pointer;
}
.products img{
  width: 300px;
  height: 250px;
  object-fit: cover;
}
.infos{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.lampe-infos{
  padding: 20px;
}
.price-info{
  padding: 20px;
}
